@defaultDuration: 1s;

.animation(@duration: 1s) {
  animation-duration: @duration;
  animation-fill-mode: both;
}

.animation-infinite () {
  animation-iteration-count: infinite;
}

.animation-delay(@duration : 1s){
  animation-delay: @duration;
}
